.topbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}
.menu{
    cursor: pointer;
}

.container{
    position: relative;
    width: 400px;
    height: 200px;
    display: flex;
    margin: auto; 
    padding-top:45px;
    

    
}

.image{
    display: block;
    width: 400px;
    height:200px;
    
}


.overlay{
    
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #eee;
}

.container:hover .overlay{
    opacity: 1;
}

.text{
    
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    position: absolute;
    top:10%;
    left 10%;
    transform: translate(10px,100px)
        
}

.overlayleft{
    height: 100%px;
    width: 0;
    top: 0;
    left: 0;

    
    
}

.container:hover .overlayleft{
    width:100%;
}

------
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 20;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: flex;
  transition: 0.3s;
  border-bottom: 1px solid black;
    justify-content: center;
    margin: 5px;
    
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
    border:none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
